checkupdates-aur
modsecurity
nerd-fonts-jetbrains-mono
perl-checkupdates-aur
perl-www-aur
pfetch
phpstorm
phpstorm-jre
ttf-font-icons
ttf-mplus
ttf-symbola
ttf-tuladha
ttf-twemoji
ttf-unifont
xorg-font-utils
yay
