alacritty
alsa-utils
apache
base
celluloid
composer
dhcpcd
feh
firefox
fish
git
gnome-keyring
imagemagick
kakoune
lightdm
lightdm-webkit2-greeter
linux
linux-firmware
man-db
man-pages
mariadb
mednafen
network-manager-applet
networkmanager
nm-connection-editor
openssh
php
php-apache
php-imagick
phpmyadmin
picom
pulseaudio
pulseaudio-alsa
r
rsync
seahorse
thunderbird
ttf-roboto
unzip
xclip
xmobar
xmonad
xmonad-contrib
xorg-server
