alacritty
alsa-utils
apache
base
celluloid
composer
elasticsearch
exfat-utils
feh
firefox
fish
git
gnome-keyring
htop
imagemagick
kakoune
ightdm
lightdm-webkit2-greeter
linux
linux-firmware
linux-headers
man-db
man-pages
mariadb
mgba-qt
nemo
nnn
nodejs-lts-erbium
npm
openssh
pinentry
php
php-apache
php-imagick
phpmyadmin
picom
pulseaudio
pulseaudio-alsa
pulseaudio-equalizer
pulseeffects
pulsemixer
r
rsync
thunderbird
ttf-roboto
unzip
xclip
xdebug
xmobar
xmonad
xmonad-contrib
xorg-server
