alacritty
alsa-utils
apache
base
celluloid
composer
dhcpcd
elasticsearch
feh
firefox
fish
git
gnome-keyring
imagemagick
kakoune
lightdm
lightdm-webkit2-greeter
linux
linux-firmware
man-db
man-pages
mariadb
mednafen
network-manager-applet
networkmanager
nm-connection-editor
nodejs-lts-erbium
npm
openssh
php
php-apache
php-gd
php-imagick
php-intl
php-xsl
phpmyadmin
picom
pulseaudio
pulseaudio-alsa
r
rsync
seahorse
thunderbird
ttf-roboto
unzip
xclip
xdebug
xmobar
xmonad
xmonad-contrib
xorg-server
